@model MVCAuthentication.ViewModels.SaleVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Of A Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
